@model EntityLayer.Concrete.Blog
@{
    ViewData["Title"] = "EditBlog";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

@using (Html.BeginForm("EditBlog", "Writer", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-5">Edit Blog</h4>
                <form class="forms-sample">
                    <div class="form-group mb-5">
                        @Html.Label("Blog ID")
                        @Html.TextBoxFor(x => x.BlogID, new { @class = "form-control", placeholder = "Title" })
                        @Html.ValidationMessageFor(x => x.Title, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group mb-5">
                        @Html.Label("Title")
                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control", placeholder = "Title" })
                        @Html.ValidationMessageFor(x => x.Title, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group mb-5">
                        @Html.Label("Category")
                        @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.cv, "Select Category", new { @class = "form-control", placeholder = "Select Category" })
                    </div>
                    <div class="form-group mb-5">
                        @Html.Label("Image")
                        @Html.TextBoxFor(x => x.Image, new { @class = "form-control", placeholder = "Upload Image" })
                        @Html.ValidationMessageFor(x => x.Image, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group mb-5">
                        @Html.Label("Thumbnail Image")
                        @Html.TextBoxFor(x => x.ThumbnailImage, new { @class = "form-control", placeholder = "Upload Image" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Content")
                        @Html.TextAreaFor(x => x.Content, 10, 3, new { @class = "form-control", placeholder = "Content" })
                        @Html.ValidationMessageFor(x => x.Content, "", new { @class = "text-danger" })
                    </div>

                    <button type="submit" class="btn btn-gradient-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
}


