@model EntityLayer.Concrete.Blog
@{
    ViewData["Title"] = "NewBlog";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}


@using (Html.BeginForm("NewBlog", "Writer", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-5">New Blog</h4>
                <form class="forms-sample">
                    <div class="form-group">
                        @Html.Label("Title")
                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control", placeholder = "Title" })
                        @Html.ValidationMessageFor(x => x.Title, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Category")
                        @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.cv, "Select Category", new { @class = "form-control", placeholder="Select Category" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Image")
                        @Html.TextBoxFor(x => x.Image, new { @class = "form-control", placeholder = "Upload Image" })
                        @Html.ValidationMessageFor(x => x.Image, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Thumbnail Image")
                        @Html.TextBoxFor(x => x.ThumbnailImage, new { @class = "form-control", placeholder = "Upload Image" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Content")
                        @Html.TextAreaFor(x => x.Content, 10, 3, new { @class = "form-control", placeholder = "Content" })
                        @Html.ValidationMessageFor(x => x.Content, "", new { @class = "text-danger" })
                    </div>
                    
                    <button type="submit" class="btn btn-gradient-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
}

@* <div class="form-group">
                        <label for="exampleInputEmail3">Category</label>
                        <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Category">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword4">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleSelectGender">Gender</label>
                        <select class="form-control" id="exampleSelectGender">
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </div> *@
@* <div class="form-group">
                    <label>File upload</label>
                    <input type="file" name="img[]" class="file-upload-default">
                    <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                        <span class="input-group-append">
                            <button class="file-upload-browse btn btn-gradient-primary" type="button">Upload</button>
                        </span>
                    </div>
                </div> *@
@* <div class="form-group">
                        <label for="exampleInputCity1">City</label>
                        <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location">
                    </div>
                    <div class="form-group">
                        <label for="exampleTextarea1">Textarea</label>
                        <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
                    </div> *@







